@import 'tailwindcss';

:root {
  --background: #ffffffff;
  --foreground: #000000ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffffff;
    --foreground: #000000ff;
  }
}


@media (max-width: 768px) {
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20px;   
    height: 20px;   
    opacity: 0;
    cursor: pointer;
  }

  input[type="date"],
  input[type="time"] {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f3f4f6;
    border-radius: 12px;
  }
}



/* /home 페이지 열릴 때 페이드 인 */
.page-fade-in {
  animation: page-fade-in 0.4s ease-out forwards;
}

@keyframes page-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
