@import 'tailwindcss';

:root {
  --background: #ffffffff;
  --foreground: #000000ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffffff;
    --foreground: #000000ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .react-datepicker {
    font-size: 1.1rem !important;
    border-radius: 12px !important;
  }

  .react-datepicker__header {
    padding: 16px 0 !important;
    border-radius: 12px 12px 0 0 !important;
  }

  .react-datepicker__current-month {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
  }

  .react-datepicker__day-name,
  .react-datepicker__day {
    width: 3rem !important;
    height: 3rem !important;
    line-height: 3rem !important;
    margin: 0.2rem !important;
    border-radius: 8px !important;
  }

  .react-datepicker__navigation {
    top: 16px !important;
  }

  .react-datepicker__month {
    margin: 0.5rem !important;
  }
}
 